.App {
  text-align: center;
}

.App {
  max-width: 410px;
  min-width: 260px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #a4a1e2;
  border-radius: 10px;
  background-color: #a4a1e2;
  font-family: "Roboto", sans-serif;
  color: #362a67;
}

footer {
  font-size: 13px;
  font-weight: 500;
  padding-top: 15px;
}

footer a {
  color: #962071;
}

footer a:hover {
  color: #5946a8;
  text-decoration: none;
}
